In [1]:
import gzip
import pickle

import pandas as pd

import folium

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
def readGz(path):
    for l in gzip.open(path, 'rt'):
        yield eval(l)

In [5]:
# Users
users_data = readGz("users.clean.json.gz")
users_df = pd.DataFrame(users_data)

In [6]:
users_df.head()

,userName,jobs,currentPlace,previousPlaces,education,gPlusUserId
0,an lam,"[[Tổng công ty IDICO, Chuyên viên Kỹ thuật XD,...","[Thành phố Hồ Chí Minh, Việt Nam, [[], 1082309...","[[tp. Nam Định, Nam Định, Việt Nam, [[], 20420...","[[[], [], [], [], [], 6], [[Đại học Kiến trúc ...",100000010817154263736
1,HALİL TURGUT,"[[Mustafa Nevzat İlaç San. A.Ş., Rebrezant, []...","[Adana, [[], 370000000, 353213330, 1]]",None,"[[[], [], [], [], [], 6], [[Anadolu University...",100000013500285534661
2,森田さとこ,None,None,None,"[[[], [], [], [], [], 6], []]",100000021336848867366
3,amey kore,None,None,None,"[[[], [], [], [], [], 6], []]",100000030557048145331
4,william spindler,None,None,None,"[[[], [], [], [], [], 6], []]",100000032416892623125

In [7]:
len(users_df)

3747937

In [8]:
users_df_clean = users_df[['userName', 'gPlusUserId']]

In [9]:
users_df_clean.head()

           userName            gPlusUserId
0            an lam  100000010817154263736
1      HALİL TURGUT  100000013500285534661
2             森田さとこ  100000021336848867366
3         amey kore  100000030557048145331
4  william spindler  100000032416892623125

Create a map of the ID and name of the user

In [10]:
users_id_name_map = pd.Series(users_df_clean.userName.values, index=users_df_clean.gPlusUserId).to_dict()

Save the dictionary to a file

In [11]:
with open("data/users_id_name.pkl", 'wb') as f:
    pickle.dump(users_id_name_map, f)

In [12]:
loaded_dict = {}
with open("data/users_id_name.pkl", 'rb') as f:
    loaded_dict = pickle.load(f)

print(loaded_dict['100000010817154263736'])
print(loaded_dict['100000032416892623125'])

an lam
william spindler

Save the filtered data

In [13]:
users_df_clean.to_pickle("data/filtered_users.pkl")

In [4]:
users_df_clean = pd.read_pickle("data/filtered_users.pkl")

In [5]:
users_df_clean.head()

           userName            gPlusUserId
0            an lam  100000010817154263736
1      HALİL TURGUT  100000013500285534661
2             森田さとこ  100000021336848867366
3         amey kore  100000030557048145331
4  william spindler  100000032416892623125

In [6]:
users_df_clean.shape

(3747937, 2)